.h-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow: hidden;
}
p {
  color: #818181;
  text-align: center;
}

.importfile {
  height: 13rem;
  width: 100%;
  border: 2px dashed #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.6rem;
  position: relative;
  border-radius: 2px;
}
.decs{
  font-size: 32px;
  color: #818181;
  font-weight: 300;
}

.btn1 {
  margin-top: 71px;
  margin-bottom: 38px;
}
.btn1 {
  width: 248px;
  height: 66px;
  color: #ffffff;
  background-color: #3f9bf0;
  border-radius: 10px;
  font-size: 40px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border: none;
}
/*-------------------------------- table-------------------- */
.titleModal {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4rem;
}
.titleModal2{
margin-left: 50px;
font-size: 1.8rem;
}

.title:first-child {
  margin-top: 25px;
}
.dec:last-child {
  margin-bottom: 35px;
} 

.custom-modal .modal-dialog {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-top: 80px;
}

/*-------------------------------- table-------------------- */
.titleTh{
  font-weight: 400;
  font-size: 1.5rem;
  color: #222222;
}
.custom-table thead th {
  background-color: #dddddd;
}

.custom-table thead th:first-child {
  border-top-left-radius: 10px;
}

.custom-table thead th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}

/* ปิดเเถวเเนวนอน ที่ติดมากับ bootstap */
/* .custom-table {
  border-collapse: separate;
  border-spacing: 0;
} */

@media screen and (max-width: 750px) {
  .title {
    font-size: 2.3rem;
    line-height: 3rem;
    word-break: break-word;
  }
}
